@media only screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hero-section {
    height: 400px;
  }

  .nav-items {
    position: absolute;
    width: 100%;
    top: 100%;
    background-color: #333;
    left: -100%;
    gap: 1rem;
    padding: 1rem 1.1rem;
    flex-direction: column;
    align-items: center;
    transition: 0.5s ease-in-out;
  }

  .nav-items.active {
    left: 0;
  }

  .menu-item {
    font-size: 1.1rem;
    width: 100%;
    text-align: center;
    padding: 0.75rem 0;
  }

  form#review-form {
    padding: 15px;
  }

  form#review-form input,
  form#review-form button,
  form#review-form textarea {
    font-size: 14px;
  }

  form#review-form button {
    padding: 10px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .hero-section {
    height: 600px;
  }

  .hero-text h1 {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 1200px) {
  .hero-section {
    height: 700px;
  }
}
